.alpackages/Microsoft_Application_24.2.20227.21515.app
.alpackages/Microsoft_Base Application_24.2.20227.21515.app
.alpackages/Microsoft_Business Foundation_24.2.20227.21515.app
.vscode/launch.json
.alpackages/Microsoft_System Application_24.2.20227.21515.app
.alpackages/Microsoft_System_24.0.21458.0.app
